    <%- include ('parcial/header.ejs') ;%>

    <header>


        <nav class="menuPrincipal">
                <ul>
                        <li><a href="/noticias/noticiasMenu">Noticias</a></li>
                        <li><a href="/receitas/receitasMenu">Receitas</a></li>
                        <li><a href="/lazer/lazerMenu">Lazer</a></li>
                        <li><a href="/classificados/ClassificadosMenu">Classificados</a></li>
                        <li><a href="#">Eletrônicos</a></li>
                        <li><a href="#">Contato</a></li>
                </ul>
        </nav>
    </header>

    <div id='corpo'>

            <%= titulo %>

    </div>

    <%- include ('parcial/footer.ejs') ;%>

