    <%- include ('../parcial/header.ejs') ;%>

    <header>


        <nav class="menuPrincipal">
                <ul>
                        <li><a href="/">Inicio</a></li>
                        <li><a href="/noticias/noticiasMenu">Noticias</a></li>
                        <li><a href="/noticias/noticiasEsporteMenu">Esporte</a></li>
                        <li><a href="/noticias/noticiasEsporteFutebolMenu">Futebol</a></li>
                        <li><a href="#">Basquete</a></li>
                        <li><a href="#">Automobilismo</a></li>
                        <li><a href="#">Internacional</a></li>
                </ul>
        </nav>
    </header>

    <div id='corpo'>

                <%= titulo %>
                <div class="img_menu">
                        <img src="/imagens-rotas/noticias/noticias.jpg" alt="Noticias">
                </div>

    </div>

    <%- include ('../parcial/footer.ejs') ;%>

