    <%- include ('../parcial/header.ejs') ;%>

    <header>


        <nav class="menuPrincipal">
                <ul>
                        <li><a href="/">Inicio</a></li>
                        <li><a href="/noticias/noticiasEsporteMenu">Esporte</a></li>
                        <li><a href="#">Economia</a></li>
                        <li><a href="#">Saúde</a></li>
                        <li><a href="#">Meio Ambiente</a></li>
                        <li><a href="#">Internacional</a></li>
                </ul>
        </nav>
    </header>

    <div id='corpo'>

            <%= titulo %>


    </div>

    <%- include ('../parcial/footer.ejs') ;%>

