    <%- include ('../parcial/header.ejs') ;%>

    <header>


        <nav class="menuPrincipal">
                <ul>
                        <li><a href="/">Inicio</a></li>
                        <li><a href="/noticias/noticiasEsporteMenu">Volar</a></li>
                        <li><a href="#">Brasileiro</a></li>
                        <li><a href="#">Paulista</a></li>
                        <li><a href="#">Carioca</a></li>
                        <li><a href="#">XXXXXX</a></li>
                </ul>
        </nav>
    </header>

    <div id='corpo'>

            <%= titulo %>

    </div>

    <%- include ('../parcial/footer.ejs') ;%>

