<%- include ('../parcial/header.ejs') ;%>

<header>


    <nav class="menuPrincipal">
            <ul>
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/classificados/ClassificadosMenu">Classificados</a></li>
                    <li><a href="#">Gol</a></li>
                    <li><a href="#">Fusca</a></li>
                    <li><a href="#">Brasília</a></li>

    </nav>
</header>

<div id='corpo'>

        <%= titulo %>


</div>

<%- include ('../parcial/footer.ejs') ;%>

