<%- include ('../parcial/header.ejs') ;%>

<header>


    <nav class="menuPrincipal">
            <ul>
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/classificados/ClassificadosMenu">Classificados</a></li>
                    <li><a href="/classificados/ClassificadosAutomoveisVolkswagenMenu">VolksWagen</a></li>
                    <li><a href="#">Ford</a></li>
                    <li><a href="#">Chevrolet</a></li>
                    <li><a href="#">Fiat</a></li>
                    <li><a href="#">Motos</a></li>
            </ul>
    </nav>
</header>

<div id='corpo'>

        <%= titulo %>


</div>

<%- include ('../parcial/footer.ejs') ;%>

