<%- include ('../parcial/header.ejs') ;%>

<header>


    <nav class="menuPrincipal">
            <ul>
                    <li><a href="/">Inicio</a></li>
                    <li><a href="#">Imóveis</a></li>
                    <li><a href="#">Móveis</a></li>
                    <li><a href="/classificados/classificadosAutomoveisMenu">Automóveis</a></li>
                    <li><a href="#">Motos</a></li>
            </ul>
    </nav>
</header>

<div id='corpo'>

        <%= titulo %>


</div>

<%- include ('../parcial/footer.ejs') ;%>

